configure
Makefile
Makefile.in
aclocal.m4
config.log
INSTALL
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
libltdl
*~
*.o
*.lo
*.pyc
.deps
.libs
tags
TAGS
cscope.*
*.la
libpinyin.pc
libpinyin.spec
libpinyin.so*
src/lookup/liblookup.a
src/storage/libstorage.a
tests/include/test_memory_chunk
tests/lookup/test_phrase_lookup
tests/storage/test_flexible_ngram
tests/storage/test_ngram
tests/storage/test_parser
tests/storage/test_parser2
tests/storage/test_phrase_index
tests/storage/test_phrase_index_logger
tests/storage/test_phrase_table
tests/test_chewing
tests/test_phrase
tests/test_pinyin
tests/lookup/test_pinyin_lookup
tests/storage/test_chewing_table
tests/storage/test_pinyin_table
utils/segment/ngseg
utils/segment/spseg
utils/storage/export_interpolation
utils/storage/gen_binary_files
utils/storage/gen_pinyin_table
utils/storage/gen_chewing_table
utils/storage/gen_zhuyin_map
utils/storage/import_interpolation
utils/training/estimate_interpolation
utils/training/estimate_k_mixture_model
utils/training/eval_correction_rate
utils/training/export_k_mixture_model
utils/training/gen_deleted_ngram
utils/training/gen_k_mixture_model
utils/training/gen_ngram
utils/training/gen_unigram
utils/training/import_k_mixture_model
utils/training/k_mixture_model_to_interpolation
utils/training/merge_k_mixture_model
utils/training/prune_k_mixture_model
utils/training/validate_k_mixture_model
data/bigram.db
data/gb_char.bin
data/gb_char.dbin
data/gb_char.table
data/gbk_char.bin
data/gbk_char.dbin
data/gbk_char.table
data/interpolation.text
data/phrase_index.bin
data/pinyin_index.bin
data/user.db
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
