configure
Makefile
Makefile.in
aclocal.m4
config.log
ABOUT-NLS
INSTALL
autom4te.cache
compile
config.guess
config.h
config.h.in
config.rpath
config.status
config.sub
confinc
confmf
depcomp
install-sh
libtool
ltmain.sh
missing
rpm
stamp-h1
py-compile
mkinstalldirs
